html {
  background-image: url(./pictures/pexels-monstera-7794362.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

/* HEADER */

.header-component {
  background: linear-gradient(to top, rgb(92, 101, 199), rgb(32, 32, 34));
  color: rgb(214, 214, 214);
  padding: 1.5rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -6rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: 'Courier New', Courier, monospace;
  border: solid;
  border-radius: 5px;
  max-width: 300px;
}


/* LANDING */

.home-component {
  padding: 2rem;
  width: 100vw;
}

.home-flex-container {
  display: flex;
  justify-content: center;
}

.landing-container {
  max-width: 720px; 
}

.landing-slogan {
  text-align: center;
  color: rgb(1, 15, 171);
}

.landing-welcome-text {
  padding: 1.5rem;
  line-height: 1.3rem;
}

/* SERVICES */
.services-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4rem;
}

.services-title {
  text-align: center;
  color: rgb(1, 15, 171);
  text-decoration: underline;
}

.service-item-background {
  background-color: rgb(92, 101, 199);
  border-radius: 20px 20px 25px 20px;
  box-shadow: 5px 5px 5px 5px;
  max-width: 720px;
  margin-bottom: 2rem;
}

.service-item-container {
  max-width: 720px;
  box-shadow: 5px 5px 5px 5px;
  background-color: rgb(255, 246, 74);
  padding: 1rem;
  border-radius: 20px 20px 18% 20px;
}

.service-item-title {
  font-size: 1.2rem;
}

.service-item-price {
  font-weight: bold;
}

/* About */

.about-title {
  text-align: center;
  color: rgb(1, 15, 171);

}
.about-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(92, 101, 199);
  color: rgb(231, 229, 229);
  padding: 1rem;
  border-radius: 15px;
}

.about-image {
  width:270px;
  border-radius: 10px;
  border: solid rgb(94, 94, 96);
}

.about-text {
  line-height: 1.3rem;
  padding: 1.5rem;
}


/* Footer */

.footer-component {
  background: linear-gradient(to bottom, rgb(92, 101, 199), rgb(32, 32, 34));
  color: rgb(231, 229, 229);
  padding: 1.5rem;
  padding-right: 4rem;
  text-align: center;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -1rem;
  margin-right: -6rem;
}

.footer-component h2 {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 0.4rem;
  padding-left: 1.5rem;
}

.footer-email {
  margin-bottom: 0rem;
}

.social-media-container {
  margin-top: -1rem;
  display: flex;
  align-items: center;
}

.social-media-container a {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

@media (min-width:660px) {
  .about-main-container {
    display: flex;
    flex-direction: row;
  }
}