html {
  background-image: url(./pictures/pexels-monstera-7794362.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

/* HEADER */

.header-component {
  background-color: rgb(69, 76, 149);
  color: rgb(214, 214, 214);
  padding: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -6rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: 'Courier New', Courier, monospace;
  border: solid;
  border-radius: 5px;
  max-width: 300px;
}

.header-image-microscope {
  position: sticky;
  width: 170px;
  height: 220px;
}

.header-image-flask {
  width: 75px;
  height: 85px;
  position: sticky;
  right: 0px;
  top: 100%;
}

/* LANDING */

.home-component {
  padding: 2rem;
  width: 100vw;
}

.home-flex-container {
  display: flex;
  justify-content: center;
}

.landing-container {
  max-width: 720px; 
}

.landing-slogan {
  text-align: center;
  color: rgb(1, 10, 105);
}

.landing-welcome-text {
  padding: 1.5rem;
  line-height: 1.3rem;
}

/* SERVICES */
.services-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4rem;
}

.services-title {
  text-align: center;
  color: rgb(1, 10, 105);
  text-decoration: underline;
}

.service-item-background {
  background-color: rgb(69, 76, 149);
  border-radius: 20px 20px 25px 20px;
  box-shadow: 5px 5px 5px 5px;
  max-width: 720px;
  margin-bottom: 2rem;
}

.service-item-container {
  max-width: 720px;
  box-shadow: 5px 5px 5px 5px;
  background-color: rgb(210, 208, 205);
  padding: 1rem;
  border-radius: 20px 20px 18% 20px;
}

.service-item-title {
  font-size: 1.2rem;
}

.service-item-price {
  font-weight: bold;
}

/* Footer */

.footer-component {
  background-color: rgb(69, 76, 149);
  color: rgb(231, 229, 229);
  padding: 1.5rem;
  padding-right: 4rem;
  text-align: center;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -1rem;
  margin-right: -6rem;
}

.footer-component h2 {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}